<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather Checker</title>
</head>

<body>
    <div class="searchBox__container">
        <div class="wrapper">
        <h1 class="searchBox__Heading">What's the weather like in...</h1>
        <div class="searchBox__field">

            <form class="cityForm" action="/" method="post">
                <label for="cityInput"></label>
                <input type="text" id="cityInput" name="cityName">
                <button type="submit" class="submit-btn">Submit</button>
            </form>
            
        </div>
       
    </div>
    <br>
    <p>A weather app created by Raul Menendez using the OpenWeatherMap API.</p>
    </div>

</body>

</html>